* text=auto !eol
/.htaccess -text
/accion.php -text
/activar_contrasinal.php -text
/activar_desbloqueo.php svn_keywords=Id
/arbore.inc.php -text
/arbore.php -text
/axuda.php -text
/comprobar.php -text
/contrasinal.php -text
/crea_imaxe.php -text
data/.htaccess -text
data/accions/buscador.inc.php -text
data/accions/copiar.inc.php -text
data/accions/correo.inc.php -text
data/accions/crear_dir.inc.php -text
data/accions/descargar.inc.php -text
data/accions/editar.inc.php -text
data/accions/eliminar.inc.php -text
data/accions/enlazar.inc.php -text
data/accions/extraer.inc.php -text
data/accions/index.html -text
data/accions/info.inc.php -text
data/accions/mover.inc.php -text
data/accions/multiple_copiar.inc.php -text
data/accions/multiple_correo.inc.php -text
data/accions/multiple_descargar.inc.php -text
data/accions/multiple_eliminar.inc.php -text
data/accions/multiple_mover.inc.php -text
data/accions/multiple_permisos.inc.php -text
data/accions/novo_arq.inc.php -text
data/accions/permisos.inc.php -text
data/accions/redimensionar.inc.php -text
data/accions/redimensionar_dir.inc.php -text
data/accions/redimensionar_dir_accion.inc.php -text
data/accions/renomear.inc.php -text
data/accions/subir_arq.inc.php -text
data/accions/subir_url.inc.php -text
data/accions/ver_comprimido.inc.php -text
data/accions/ver_contido.inc.php -text
data/conf/caMUL.crt -text
data/conf/default-example.inc.php -text
data/conf/guest-example.inc.php -text
data/conf/index.html -text
data/conf/login.inc.php -text
data/idiomas/es/base.mo -text
data/idiomas/es/base.po -text
data/idiomas/es/index.html -text
data/idiomas/index.html -text
data/include/Xusuarios.php -text
data/include/basicweb.php -text
data/include/borra_cache.php -text
data/include/clases.php -text
data/include/class_accions.php -text
data/include/class_arbore.php -text
data/include/class_arquivos.php -text
data/include/class_conf.php -text
data/include/class_easyzip.php -text
data/include/class_encriptar.php svn_keywords=Id
data/include/class_extra.php -text
data/include/class_extraer.php -text
data/include/class_ftp.php svn_keywords=Id
data/include/class_gettext.php svn_keywords=Id
data/include/class_imaxes.php -text
data/include/class_inc.php -text
data/include/class_indexador.php -text
data/include/class_niveles.php -text
data/include/class_rexistros.php svn_keywords=Id
data/include/class_sesion.php -text
data/include/class_ssl.php svn_keywords=Id
data/include/class_tempo.php -text
data/include/class_usuarios.php -text
data/include/class_vars.php -text
data/include/funcions.php -text
data/include/index.html -text
data/include/licencia.php -text
data/include/mantemento.php -text
data/include/mime.php -text
data/include/mysql.php -text
data/include/phpmailer/LICENSE -text
data/include/phpmailer/README -text
data/include/phpmailer/aboutus.html -text
data/include/phpmailer/changelog.txt -text
data/include/phpmailer/class.phpmailer.php svn_keywords=Id
data/include/phpmailer/class.pop3.php svn_keywords=Id
data/include/phpmailer/class.smtp.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-ar.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-br.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-ca.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-ch.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-cz.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-de.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-dk.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-es.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-et.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-fi.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-fo.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-fr.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-hu.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-it.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-ja.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-nl.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-no.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-pl.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-ro.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-ru.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-se.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-tr.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-zh.php svn_keywords=Id
data/include/phpmailer/language/phpmailer.lang-zh_cn.php svn_keywords=Id
data/include/prepara.php -text
data/include/usuarios.php -text
data/index.html -text
data/plantillas/Xconfiguracion_editar.inc.php svn_keywords=Id
data/plantillas/Xconfiguracion_resumo.inc.php svn_keywords=Id
data/plantillas/Xconfiguracion_sintaxis.inc.php svn_keywords=Id
data/plantillas/Xconfiguracion_ver.inc.php svn_keywords=Id
data/plantillas/Xconfiguracions.inc.php -text
data/plantillas/Xdoazon.inc.php -text
data/plantillas/Xgrupo.inc.php svn_keywords=Id
data/plantillas/Xgrupos.inc.php -text
data/plantillas/Xinformes.inc.php -text
data/plantillas/Xinformes_accesos.inc.php -text
data/plantillas/Xinformes_accions.inc.php -text
data/plantillas/Xinformes_ancho_banda.inc.php -text
data/plantillas/Xinformes_mysql.inc.php -text
data/plantillas/Xinformes_uso_disco.inc.php -text
data/plantillas/Xmenu.inc.php -text
data/plantillas/Xopcions.inc.php -text
data/plantillas/Xraices.inc.php -text
data/plantillas/Xraiz.inc.php svn_keywords=Id
data/plantillas/Xtraduccion.inc.php -text
data/plantillas/Xtraduccion_estado.inc.php -text
data/plantillas/Xusuario.inc.php svn_keywords=Id
data/plantillas/Xusuarios.inc.php -text
data/plantillas/Xvarios.inc.php -text
data/plantillas/Xvarios_indexador.inc.php -text
data/plantillas/Xvarios_logs.inc.php -text
data/plantillas/activar_contrasinal.inc.php -text
data/plantillas/arbore.inc.php -text
data/plantillas/aviso.inc.php svn_keywords=Id
data/plantillas/axuda.inc.php -text
data/plantillas/buscador_formulario.inc.php -text
data/plantillas/buscador_resultados.inc.php -text
data/plantillas/cab.inc.php -text
data/plantillas/contrasinal.inc.php -text
data/plantillas/copiar.inc.php -text
data/plantillas/correo.inc.php -text
data/plantillas/crear_dir.inc.php -text
data/plantillas/desbloquear.inc.php svn_keywords=Id
data/plantillas/editar.inc.php -text
data/plantillas/eliminar_arq.inc.php -text
data/plantillas/eliminar_dir.inc.php -text
data/plantillas/enlazar.inc.php -text
data/plantillas/index.html -text
data/plantillas/info_cab.inc.php -text
data/plantillas/info_corpo.inc.php -text
data/plantillas/login.inc.php -text
data/plantillas/menu.inc.php -text
data/plantillas/mover.inc.php -text
data/plantillas/multiple_copiar.inc.php -text
data/plantillas/multiple_correo.inc.php -text
data/plantillas/multiple_eliminar.inc.php -text
data/plantillas/multiple_mover.inc.php -text
data/plantillas/multiple_permisos.inc.php -text
data/plantillas/navega.inc.php -text
data/plantillas/novo_arq.inc.php -text
data/plantillas/opcions.inc.php -text
data/plantillas/pe.inc.php -text
data/plantillas/permisos.inc.php -text
data/plantillas/posicion.inc.php -text
data/plantillas/preferencias.inc.php -text
data/plantillas/redimensionar.inc.php -text
data/plantillas/redimensionar_dir.inc.php -text
data/plantillas/renomear.inc.php -text
data/plantillas/subir_arq.inc.php -text
data/plantillas/subir_arq_ajax.inc.php -text
data/plantillas/subir_url.inc.php -text
data/plantillas/utiles_pe.inc.php -text
data/plantillas/ver_comprimido.inc.php -text
data/plantillas/ver_contido.inc.php -text
/desbloquear.php svn_keywords=Id
docs/COPYING -text
docs/LEEME -text
docs/LICENCIA -text
docs/README -text
docs/TODO -text
estilos/pfn/estilos.css -text
estilos/pfn/ico/0.png -text
estilos/pfn/ico/ace.png -text
estilos/pfn/ico/ai.png -text
estilos/pfn/ico/aif.png -text
estilos/pfn/ico/ani.png -text
estilos/pfn/ico/asf.png -text
estilos/pfn/ico/asp.png -text
estilos/pfn/ico/avi.png -text
estilos/pfn/ico/bak.png -text
estilos/pfn/ico/bat.png -text
estilos/pfn/ico/bin.png -text
estilos/pfn/ico/bmp.png -text
estilos/pfn/ico/bz.png -text
estilos/pfn/ico/bz2.png -text
estilos/pfn/ico/cab.png -text
estilos/pfn/ico/cdr.png -text
estilos/pfn/ico/cfg.png -text
estilos/pfn/ico/cif.png -text
estilos/pfn/ico/com.png -text
estilos/pfn/ico/conf.png -text
estilos/pfn/ico/cpt.png -text
estilos/pfn/ico/css.png -text
estilos/pfn/ico/cur.png -text
estilos/pfn/ico/dat.png -text
estilos/pfn/ico/db.png -text
estilos/pfn/ico/dcr.png -text
estilos/pfn/ico/dic.png -text
estilos/pfn/ico/diff.png -text
estilos/pfn/ico/dir.png -text
estilos/pfn/ico/dll.png -text
estilos/pfn/ico/dmg.png -text
estilos/pfn/ico/doc.png -text
estilos/pfn/ico/dwg.png -text
estilos/pfn/ico/edir.png -text
estilos/pfn/ico/eml.png -text
estilos/pfn/ico/enc.png -text
estilos/pfn/ico/eps.png -text
estilos/pfn/ico/exe.png -text
estilos/pfn/ico/firm.png -text
estilos/pfn/ico/fla.png -text
estilos/pfn/ico/flv.png -text
estilos/pfn/ico/fon.png -text
estilos/pfn/ico/gif.png -text
estilos/pfn/ico/gz.png -text
estilos/pfn/ico/hqx.png -text
estilos/pfn/ico/htm.png -text
estilos/pfn/ico/html.png -text
estilos/pfn/ico/ico.png -text
estilos/pfn/ico/inc.png -text
estilos/pfn/ico/index.html -text
estilos/pfn/ico/ini.png -text
estilos/pfn/ico/iso.png -text
estilos/pfn/ico/jpeg.png -text
estilos/pfn/ico/jpg.png -text
estilos/pfn/ico/js.png -text
estilos/pfn/ico/lnk.png -text
estilos/pfn/ico/log.png -text
estilos/pfn/ico/m3u.png -text
estilos/pfn/ico/mdb.png -text
estilos/pfn/ico/mid.png -text
estilos/pfn/ico/midi.png -text
estilos/pfn/ico/mov.png -text
estilos/pfn/ico/mp3.png -text
estilos/pfn/ico/mpeg.png -text
estilos/pfn/ico/mpg.png -text
estilos/pfn/ico/nfo.png -text
estilos/pfn/ico/odb.png -text
estilos/pfn/ico/odc.png -text
estilos/pfn/ico/odf.png -text
estilos/pfn/ico/odg.png -text
estilos/pfn/ico/odm.png -text
estilos/pfn/ico/odp.png -text
estilos/pfn/ico/ods.png -text
estilos/pfn/ico/odt.png -text
estilos/pfn/ico/ogg.png -text
estilos/pfn/ico/otg.png -text
estilos/pfn/ico/oth.png -text
estilos/pfn/ico/otp.png -text
estilos/pfn/ico/ots.png -text
estilos/pfn/ico/ott.png -text
estilos/pfn/ico/patch.png -text
estilos/pfn/ico/pdf.png -text
estilos/pfn/ico/php.png -text
estilos/pfn/ico/php3.png -text
estilos/pfn/ico/phtml.png -text
estilos/pfn/ico/pl.png -text
estilos/pfn/ico/png.png -text
estilos/pfn/ico/pps.png -text
estilos/pfn/ico/ppt.png -text
estilos/pfn/ico/psd.png -text
estilos/pfn/ico/pwl.png -text
estilos/pfn/ico/qt.png -text
estilos/pfn/ico/ra.png -text
estilos/pfn/ico/ram.png -text
estilos/pfn/ico/rar.png -text
estilos/pfn/ico/reg.png -text
estilos/pfn/ico/rpm.png -text
estilos/pfn/ico/rtf.png -text
estilos/pfn/ico/sh.png -text
estilos/pfn/ico/shtml.png -text
estilos/pfn/ico/sit.png -text
estilos/pfn/ico/sql.png -text
estilos/pfn/ico/svg.png -text
estilos/pfn/ico/swf.png -text
estilos/pfn/ico/sxc.png -text
estilos/pfn/ico/sxi.png -text
estilos/pfn/ico/sxw.png -text
estilos/pfn/ico/sys.png -text
estilos/pfn/ico/tar.png -text
estilos/pfn/ico/tgz.png -text
estilos/pfn/ico/tif.png -text
estilos/pfn/ico/tiff.png -text
estilos/pfn/ico/tmp.png -text
estilos/pfn/ico/tpl.png -text
estilos/pfn/ico/ttf.png -text
estilos/pfn/ico/txt.png -text
estilos/pfn/ico/wav.png -text
estilos/pfn/ico/wma.png -text
estilos/pfn/ico/wmv.png -text
estilos/pfn/ico/wp.png -text
estilos/pfn/ico/xls.png -text
estilos/pfn/ico/xml.png -text
estilos/pfn/ico/zip.png -text
estilos/pfn/iconos.php -text
estilos/pfn/imx/0.png -text
estilos/pfn/imx/actualizar.png -text
estilos/pfn/imx/ancho_corpo.png -text
estilos/pfn/imx/arbore.png -text
estilos/pfn/imx/arriba.png -text
estilos/pfn/imx/atencion.png -text
estilos/pfn/imx/barra.png -text
estilos/pfn/imx/buscar.png -text
estilos/pfn/imx/comprimir.png -text
estilos/pfn/imx/copiar.png -text
estilos/pfn/imx/correo.png -text
estilos/pfn/imx/crear_dir.png -text
estilos/pfn/imx/crear_grupo.png -text
estilos/pfn/imx/crear_raiz.png -text
estilos/pfn/imx/crear_usuario.png -text
estilos/pfn/imx/cruce.png -text
estilos/pfn/imx/descargar.png -text
estilos/pfn/imx/doazon.png -text
estilos/pfn/imx/editar.png -text
estilos/pfn/imx/eliminar.png -text
estilos/pfn/imx/erro.png -text
estilos/pfn/imx/esquina.png -text
estilos/pfn/imx/extraer.png -text
estilos/pfn/imx/firmar.png -text
estilos/pfn/imx/fondo.png -text
estilos/pfn/imx/indexador.png -text
estilos/pfn/imx/info.png -text
estilos/pfn/imx/informes.png -text
estilos/pfn/imx/logo-grande.png -text
estilos/pfn/imx/logo.png -text
estilos/pfn/imx/mover.png -text
estilos/pfn/imx/novo_arq.png -text
estilos/pfn/imx/ok.png -text
estilos/pfn/imx/paypal.png -text
estilos/pfn/imx/permisos.png -text
estilos/pfn/imx/preferencias_usuario.png -text
estilos/pfn/imx/recargar.png -text
estilos/pfn/imx/redimensionar.png -text
estilos/pfn/imx/renomear.png -text
estilos/pfn/imx/repartir.png -text
estilos/pfn/imx/semitrans.png -text
estilos/pfn/imx/subir_arq.png -text
estilos/pfn/imx/subir_url.gif -text
estilos/pfn/imx/subir_url.png -text
estilos/pfn/imx/tarxeta_credito.png -text
estilos/pfn/imx/traduccion.png -text
estilos/pfn/imx/varios.png -text
estilos/pfn/imx/ver_comprimido.png -text
estilos/pfn/imx/ver_contido.png -text
estilos/pfn/imx/ver_imaxes.png -text
estilos/pfn/xestion.css -text
/favicon.ico -text
/index.php -text
instalar/imx/aviso.png -text
instalar/imx/erro.png -text
instalar/imx/logo.png -text
instalar/imx/ok.png -text
instalar/include/actualizar.inc.php -text
instalar/include/actualizar_200-201.inc.php -text
instalar/include/actualizar_201-220.inc.php -text
instalar/include/actualizar_220-230.inc.php -text
instalar/include/actualizar_230-233.inc.php -text
instalar/include/actualizar_233-240.inc.php svn_keywords=Id
instalar/include/basicas.inc.php -text
instalar/include/funcions.inc.php -text
instalar/include/idiomas.inc.php -text
instalar/include/instalar.inc.php -text
instalar/include/nada.inc.php -text
instalar/include/parsear_phpinfo.php -text
instalar/include/paso_1.inc.php -text
instalar/include/paso_2.inc.php -text
instalar/include/paso_3.inc.php -text
instalar/include/paso_4.inc.php -text
instalar/include/paso_5.inc.php -text
instalar/include/paso_6.inc.php -text
instalar/index.php -text
instalar/instalar.css -text
instalar/mysql/actualizar_200-201.sql -text
instalar/mysql/actualizar_200-230.php -text
instalar/mysql/actualizar_201-220.sql -text
instalar/mysql/actualizar_220-230.sql -text
instalar/mysql/actualizar_230-233.sql -text
instalar/mysql/actualizar_233-240.sql -text
instalar/mysql/instalar.php -text
instalar/mysql/instalar.sql -text
instalar/phpinfo.php -text
instalar/plantillas/actualizar.inc.php -text
instalar/plantillas/actualizar_200-201.inc.php -text
instalar/plantillas/actualizar_201-220.inc.php -text
instalar/plantillas/actualizar_220-230.inc.php -text
instalar/plantillas/actualizar_230-233.inc.php -text
instalar/plantillas/actualizar_233-240.inc.php svn_keywords=Id
instalar/plantillas/bloqueo_instalacion.inc.php -text
instalar/plantillas/cab.inc.php -text
instalar/plantillas/instalar.inc.php -text
instalar/plantillas/paso_1.inc.php -text
instalar/plantillas/paso_2.inc.php -text
instalar/plantillas/paso_3.inc.php -text
instalar/plantillas/paso_4.inc.php -text
instalar/plantillas/paso_6.inc.php -text
instalar/plantillas/pe.inc.php -text
js/ajax.js -text
js/base64.js -text
js/html_decoder.js -text
js/index.html -text
js/jquery-1.4.1.min.js -text
js/prototype.lite.js -text
js/scripts.js -text
js/wz_dragdrop.js -text
/ler.php svn_keywords=Id
/menu.inc.php -text
/menu.php -text
/navega.inc.php -text
/navega.php -text
/opcions.inc.php -text
/paths.php -text
/preferencias.inc.php -text
/preferencias.php -text
/sair.php -text
ssl/dnie.php svn_keywords=Id
ssl/index.php svn_keywords=Id
xestion/Xopcions.inc.php -text
xestion/configuracions/duplicar.php -text
xestion/configuracions/editar.inc.php svn_keywords=Id
xestion/configuracions/editar.php svn_keywords=Id
xestion/configuracions/eliminar.php -text
xestion/configuracions/gdar.php -text
xestion/configuracions/index.php -text
xestion/configuracions/resumo.inc.php svn_keywords=Id
xestion/configuracions/resumo.php svn_keywords=Id
xestion/configuracions/sintaxis.php -text
xestion/configuracions/ver.inc.php -text
xestion/configuracions/ver.php -text
xestion/doazon.php -text
xestion/gdar.php -text
xestion/grupos/editar.inc.php svn_keywords=Id
xestion/grupos/editar.php svn_keywords=Id
xestion/grupos/eliminar.php -text
xestion/grupos/gdar.php -text
xestion/grupos/index.php -text
xestion/index.php -text
xestion/informes/accesos.inc.php -text
xestion/informes/accions.inc.php -text
xestion/informes/ancho_banda.inc.php -text
xestion/informes/index.inc.php -text
xestion/informes/index.php -text
xestion/informes/mysql.inc.php -text
xestion/informes/uso_disco.inc.php -text
xestion/raices/editar.inc.php svn_keywords=Id
xestion/raices/editar.php svn_keywords=Id
xestion/raices/eliminar.php -text
xestion/raices/gdar.php -text
xestion/raices/index.php -text
xestion/traduccion/descargar.php -text
xestion/traduccion/estado.inc.php -text
xestion/traduccion/estado.php -text
xestion/traduccion/gdar.php -text
xestion/traduccion/index.inc.php -text
xestion/traduccion/index.php -text
xestion/usuarios/editar.inc.php svn_keywords=Id
xestion/usuarios/editar.php svn_keywords=Id
xestion/usuarios/eliminar.php -text
xestion/usuarios/gdar.php -text
xestion/usuarios/index.php -text
xestion/varios/index.inc.php -text
xestion/varios/index.php -text
xestion/varios/indexador.inc.php -text
xestion/varios/logs.inc.php -text
